//  main colors
$primary-back: #FFFFFF;
$secondary-back: #E8EDED;

$primary: #445974;
$secondary: #C45E4F;
$tertiary: #FFCC6B;

$header-primary: rgba(68, 89, 116, 1);

$text-color: #000000;

$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;