.footer-container {
    width: 100%;
    height: 10vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo, .footer-contact {
        padding: 0 20px;
    }

    a:visited {
        color: inherit;
    }

    .footer-logo {
        font-family: $font-secondary;
        font-weight: 800;
        font-style: italic;
        font-size: 1.2em;
        pointer-events: none;
    }

    .footer-contact {
        color: $primary;
        font-weight: 800;
        font-size: 0.9em;
        transition: color 0.4s;
        -webkit-transition: color 0.4s;
    }

    .footer-contact:hover {
        color: $secondary;
    }
}