.forgot-password-container {
    width: 100%;
    height: 100vh;

    .forgot-password-content {
        width: 100%;
        height: 70vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .forgot-password-text {
            font-family: $font-secondary;
            font-weight: 800;
            font-style: italic;
            font-size: 4em;
            color: $secondary-back;
            position: absolute;
            left: 25vw;
            top: 15vh;
        }

        .confirmation-form {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div[class^="MuiFormControl-root"] {
                width: 100%;
                margin: 10px 0;
            }

            div[class^="MuiInputBase-root"]::after {
                border-bottom: 1px black solid !important;
            }
            label[class^="MuiFormLabel-root"] {
                color: black;
            }

            .confirmation-button-container {
                width: 100%;
                height: 50px;
                position: relative;
                background-color: $secondary-back;
                margin: 30px 0;
                cursor: pointer;

                .confirmation-button-background {
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    background-color: $primary;
                    -webkit-transition: width 0.4s;
                    transition: width 0.4s;
                }

                .confirmation-button {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $secondary;
                    font-weight: 800;
                    -webkit-transition: color 0.4s;
                    transition: color 0.4s;
                }
            }

            .confirmation-button-container:hover {
                .confirmation-button-background {
                    width: 100%;
                }
        
                .confirmation-button {
                    color: white;
                }
            }

            .forgot-password-error-message {
                color: $secondary;
                font-size: 0.8em;
            }
        }
    }
}