.header-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    a {
        color: black;
    }
    
    a:visited {
        color: black;
    }

    .logo, .search-location {
        padding: 0 20px;
    }

    .logo {
        font-family: $font-secondary;
        font-weight: 800;
        font-style: italic;
        font-size: 1.8em;
        pointer-events: none;
    }

    .header-right {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 20px;
    
        .search-location {
            display: flex;
            align-items: center;
    
            .search-icon {
                margin: 0 5px;
                height: 100%;
            }
    
            .location-input {
                transform: translate(0, -8px)
            }
    
            div[class^="MuiInput"]::before {
                border-bottom: none;
            }
            div[class^="MuiInput"]::after{
                border-bottom: 1px black solid;
            }
    
            label[class^="MuiFormLabel"] {
                color: black;
            }
        }
    
        .user-profile {
            height: calc(10vh - 20px);
            width: calc(10vh - 20px);
            background-color: $primary;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-secondary;
            font-weight: 800;
            font-style: italic;
            font-size: 1em;
            color: white;
            -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }

        .user-profile:hover {
            background-color: $secondary;
        }

        .add-event-component {
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;

            .add-event-button-container {
                width: 120px;
                height: 40px;
                position: relative;
                background-color: $secondary-back;
                cursor: pointer;
        
                .add-event-button-background {
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    right: 0;
                    background-color: $primary;
                    -webkit-transition: width 0.4s;
                    transition: width 0.4s;
                }
        
                .add-event-button {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $secondary;
                    font-weight: 800;
                    -webkit-transition: color 0.4s;
                    transition: color 0.4s;
        
                    svg {
                        margin-top: 5px;
                    }
                }
            }
        
            .add-event-button-container:hover {
                .add-event-button-background {
                    width: 100%;
                }
        
                .add-event-button {
                    color: white;
                }
            }
        }


        .login-button-container {
            width: 120px;
            height: 40px;
            position: relative;
            background-color: $secondary-back;
            cursor: pointer;
    
            .login-button-background {
                width: 0%;
                height: 100%;
                position: absolute;
                z-index: 0;
                top: 0;
                right: 0;
                background-color: $primary;
                -webkit-transition: width 0.4s;
                transition: width 0.4s;
            }
    
            .login-button {
                position: relative;
                z-index: 1;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $secondary;
                font-weight: 800;
                -webkit-transition: color 0.4s;
                transition: color 0.4s;
    
                svg {
                    margin-top: 5px;
                }
            }
        }
    
        .login-button-container:hover {
            .login-button-background {
                width: 100%;
            }
    
            .login-button {
                color: white;
            }
        }
    }
}