.home-container {
    width: 100%;
    height: 100vh;

    .map-container {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back-to-map-component {
        display: none;
        position: fixed;
        top: calc(50% - 20px);
        right: calc(5% - 20px);
    }
}