.subscribe-container {
    width: 100%;
    height: 100vh;

    .subscribe-content {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .signup-text {
            font-family: $font-secondary;
            font-weight: 800;
            font-style: italic;
            font-size: 6em;
            color: $secondary-back;
            position: absolute;
            left: 25vw;
            top: 15vh;
        }

        .subscribe-form {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            div[class^="MuiFormControl-root"] {
                width: 100%;
                margin: 10px 0;
            }

            div[class^="MuiInputBase-root"]::after {
                border-bottom: 1px black solid !important;
            }
            label[class^="MuiFormLabel-root"] {
                color: black;
            }

            .subscribe-button-container {
                width: 100%;
                height: 50px;
                position: relative;
                background-color: $secondary-back;
                margin: 30px 0;
                cursor: pointer;

                .subscribe-button-background {
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    left: 0;
                    background-color: $primary;
                    -webkit-transition: width 0.4s;
                    transition: width 0.4s;
                }

                .subscribe-button {
                    position: relative;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $secondary;
                    font-weight: 800;
                    -webkit-transition: color 0.4s;
                    transition: color 0.4s;
                }
            }

            .subscribe-button-container:hover {
                .subscribe-button-background {
                    width: 100%;
                }
        
                .subscribe-button {
                    color: white;
                }
            }

            .verify-error-message {
                color: $secondary;
                font-size: 0.8em;
            }

            .signup-error-message {
                color: $secondary;
                font-size: 0.8em;
            }

            .sign-in-link {
                color: $primary;
                font-size: 0.8em;
                cursor: pointer;
                margin-bottom: 5px;
            }

            .sign-in-link:hover {
                text-decoration: underline;
            }
        }
    }

    .signup-content-loading {
        position: absolute;
        top: 10vh;
        width: 100%;
        height: 70vh;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.9);
    }
}

@media screen and (max-width: 750px) {
    .subscribe-container {
        .subscribe-form {
            width: 70% !important; 
        }

        .signup-text {
            font-size: 3em !important;
        }
    }
}